// Системные цвета
$error: #ad050d;
$success: #009a00;
$warning: #e06400;
$anchor: #04b;
$danger: #e53935;

// Цвета Apple`n`Perry
$primary: #235335;
$orange: #f07d10;
$green: #5b8300;
$beige: #efe5d4;
$grey: #7c8782;
$brown: #8a7271;

// Цвета админки
$admin-primary: #344955;
$admin-dark: #232f34;
$admin-grey: #4a6572;
$admin-secondary: #f9aa33;

// Цвета текста
$title: #010c01; // Заголовки
$main: #0e161c; // Основной текст
$additional: #6e7782; // Дополнительный текст
$inactive: #9198a0; // Неактивный текст

// Вспомогательное
$border: #bbc1c7; // Рамка поля, обводка
$separator: #e2e5eb; // Разделители
$background-grey: #fcfcfc; // Заливка фона (серый)
$background-white: #ffffff; // Заливка Фона (белый)
